* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: whitesmoke;
}

body {
	color: #333;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5vh;
	background-color: #3d3d3d;
	color: #f2d232;
	font-size: 1.5em;
}

button {
	background-color: #f2d232!important;
	box-shadow: 0px 4px 8px 0px #d2d1d1;
}

button:hover {
	background-color: #efdd40!important;
}

#join-game-area > p, #game-rules-intro {
	font-weight: 600;
}

@media (max-width: 576px) {

	#map-image {
		margin: 3vh auto;
		display: block;
		width: 80vw;
	}

	.top-bot-margin {
		margin: 3vh 0;
	}

	.form-group {
		display: flex;
		align-items: center;
	}

	#game-rules-intro, #game-rules {
		display: none;
	}

	.centered-button {
		margin: 4vh auto;
		display: block;
	}

	#maps-textarea {
		margin-top: 5vh;
	}

	#maps-textarea textarea {
		height: 15vh;
	}

	#game-creation-header {
		margin: 3vh 0 5vh 0;
	}

	#game-creation-header + p {
		margin-bottom: 7vh;
	}

}

@media (min-width: 577px) {

	#map-image + div {
		margin: auto 0;
	}

	#map-image {
		width: 35vw;
		margin: 6vh auto;
		display: block;
	}

	div#img-container + div {
		margin: auto;
	}

	#game-rules {
		width: 45vw;
		margin-bottom: 5vh;
	}

}

